$btn-color: #111b47;
$promo-description-color: #505f98;
$header-links-hover: #1843ee;
$mobile-color: #fff;
$logo-color: #37447E;

$second-sections-color: #6f7cb2;
$footer-nav-color: #929ecc;
$titles-color: #091133;
