.about {
  padding: 50px 0 50px 0;
  &__title {
    font-size: 18px;
    margin: 30px 0 0 0;
    text-align: center;
  }

  &__description {
    text-align: center;
    margin: 30px auto 0;
    font-size: 14px;
    line-height: 26px;
    color: $about-description-color;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    &__item {
      &:last-child {
        order: -1;
      }
    }
    &__item-image {
      img {
        width: 100%;
      }
    }
    &__card-image {
      width: 36px;
      img {
        width: 100%;
      }
    }
    &__cards {
      margin: 30px 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__card {
      margin: 15px 0 0 0;
      &:first-child {
        margin: 0;
      }
    }
    &__card-title {
      margin: 10px 0 0 0;
    }
    &__card-descr {
      color: $card-description-color;
      margin: 10px 0 0 0;
      font-size: 12px;
      line-height: 18px;
    }
  }
}

@import './about-media';
