@media (min-width: 576px) {
  .promo {
    &__about {
      width: 50%;
    }
  }
}

@media (min-width: 768px) {
  .promo {
    &__about {
      margin: 30px 0 0 0;
    }
    &__title {
      font-size: 40px;
      line-height: 40px;
    }
    &__description {
      font-size: 18px;
      line-height: 18px;
    }
  }
}
@media (min-width: 992px) {
  .promo {
    &__btns {
      margin: 40px 0 0 0;
      flex-direction: row;
      justify-content: space-between;
      max-width: 408px;
    }
    &__btn {
      min-width: 189px;
      margin: 0;
      padding: 9px 0;
    }
  }
}
@media (min-width: 1200px) {
  .promo {
    min-height: 1159px;
    padding: 67px 0 0 0;
    &__about {
      margin: 259px 0 0 0;
    }
    &__title {
      font-size: 50px;
      line-height: 66px;
      letter-spacing: 1px;
    }
    &__description {
      line-height: 30px;
    }
    &__btns {
      margin: 54px 0 0 0;
    }
    &__btn {
      transition: 0.5s all;
      padding: 11px 0 7px;
      &:hover {
        color: $mobile-color;
        background-color: $btn-color;
      }
    }
  }
}
